.nav_middle_item {
  padding: 0.25rem 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.nav_middle_item > strong {
  border-right: 1px solid #ddd;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.nav_middle_item > b {
  margin-right: 0.5rem;
}