
.review_house > h3 {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.review_house > h5 {
  margin-bottom: 1rem;
}
.review_house {
  margin: 0.125rem;
}
.review_house_duration {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.review_house_duration_card {
  display: flex;
  margin: 1rem 0;
}
.review_house_duration_card > .card_date {
  height: 4rem;
  width: 4.2rem;
  background-color: #ddd;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 1rem;
}
.review_house_duration_card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review_house_note {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.review_house_note > div {
  display: flex;
  margin-bottom: 0.2rem;
}
.review_house_note > div > img {
  height: 1.5rem;
  padding: .25rem;
  border: 1px solid #ddd;
  margin-right: 0.5rem;
}
.review_house_note > div > p {
  color: #666;
  font-size: 0.9rem;
}
.review_house_read_more {
  font-size: bold;
  color: slateblue;
  cursor: pointer;
}

 