.hotels_header {
  margin: 1rem 0;
}
.hotels_header > small {
  font-weight: 600;
  color: gray;
}
.hotels_header > h5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0.2rem;
}
.hotels_feature_btn_block {
  display: flex;
  flex-wrap: wrap;
  font-size: 90%;
}
.hotels_feature_btn_block > button {
  border: 2px solid #ddd;
  background: none;
  color: gray;
  outline: 0;
  border-radius: 2rem;
  padding: 0.3rem 0.4rem;
  margin: 0.4rem 0.2rem;
}
.hotels_feature_btn_block > button:hover {
  background-color: #ddd;
}